/*
*Criado por Rangel Santos 
*10/07/2019
*Estilos do curriculo gerado
*/

body {
  background-color: #212121;
}
h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: 1500;
}
.finalcurriculo {
  width: 21cm;
  height: 29.7cm;
  padding: 2mm 16mm;
  background-color: white;
  font-size: 18px;   
}
div.finalcurriculo h2 {
  border-bottom: 2px solid black;
  text-align: center; 
}
@media print {
  body {
    margin: 0;
    color: #000;
    background-color: white;
  }
  #myprint {
  display: none;
  }
  @page { 
    size: auto;  
    margin: 0mm; 
  }
}