<!DOCTYPE html>
<html>
<head>
	<title>AR - Gerador de Curriculo Online</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/ar_style.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/print.css">
	<style>
		body {
		background-image: url("images/blueback.jpg");
		}
	</style>
	<script type="text/javascript" src="js/ar_script.js"></script>
</head>
<body>
	<div class="main_header">
		<nav>
			<a class="link_style" href="index.php">Inicio</a>
			<a class="link_style" href="ar_curr.php">Novo Curriculo</a>
		</nav>
	</div>
